body
	font-family "Microsoft YaHei","HelveticaNeue-Light","HelvLightIBM",Mono,Arial,sans-serif

base-blue = #3a7de8

.wrap
	width 1050px
	margin-left auto
	margin-right auto
	box-sizing border-box
	
// project & serves header
content-title()
	font-size 24px
	font-weight bold
	padding-top 80px
content-des()
	font-size 16px
	letter-spacing 2px
	line-height 2em
	padding-top 30px
	
item-title()
	font-size 34px
	font-weight bold
	font-variant small-caps
	padding-top 40px
	margin-bottom 15px
item-des()
	font-size 22px