@import "./common"
@import "./projects"
@import "./serves"

.Banner
	h5
		display inline-block
		color #555
		font-size 26px
		font-weight bold
		letter-spacing 5px
		border-bottom 2px #d2d1d9 solid
		padding-top 50px
		padding-bottom 10px
	h6
		font-size 16px
		color #777
		letter-spacing 2px
		padding-top 10px
		padding-bottom 30px
	p
		font-size 16px
		line-height 2em
		letter-spacing 3px

.Philosophy
	height 400px
	.wrap
		height 100%
		padding-right 450px
		background url(../images/icons/about.png) no-repeat right center
	h5
		item-title()
	h6
		item-des()
		padding-bottom 15px
		border-bottom 2px solid #d9d9d9
	p
		content-des()
		font-size 14px
		padding-top 15px
		
.Partner
	height 550px
	background-color #f3f3f3
	h5
		item-title()
		padding-top 70px
	h6
		item-des()
		padding-bottom 15px
		border-bottom 2px solid #d9d9d9
	.arrow
		font-size 0
		text-align right
		margin-top -50px
		margin-bottom 80px
		span
			display inline-block
			width 30px
			height 30px
			background-image url(../images/icons/arrow.png)
			cursor pointer
			opacity .5
			&.arrow-2
				background-position top right
				margin-left 10px
			&:hover
				opacity 1
			&.unclick
				opacity .25
				cursor default
	.list
		height 264px
		overflow hidden
		position relative
		dl
			position absolute
			top 0
			left 0
			transition all 0.3s
			width 99999px
			dd
				display inline-block
				width 430px
				margin-right 20px
				image
					width 100%
				span
					display block
					font-size 26px
					line-height 50px
					text-align center
					font-weight bold
					font-variant small-caps
					
.Form
	color white
	background-color base-blue
	padding-bottom 100px
	overflow hidden
	h4, h5
		text-align center
	h4
		item-title()
	h5
		item-des()
	.table
		float right
		font-size 14px
		width 50%
		overflow hidden
		margin-top 50px
		li
			span
				display block
				padding 20px 0 10px 15px
			input,textarea
				font-size 14px
				width 100%
				line-height 32px
				border 0 none
				outline 0 none
				border-radius 19px
				box-sizing border-box
				padding 3px 15px
			input
				height 38px
			textarea
				height 256px
				overflow hidden
			button
				font-size 16px
				color base-blue
				font-weight bold
				line-height 40px
				text-align center
				display inline-block
				width 150px
				background-color white
				border-radius 5px
				border 0 none
				outline 0 none
				margin-top 30px
	.welcome
		float left
		width 50%
		overflow hidden
		h6
			padding-top 70px
			font-size 28px
		p
			font-size 14px
			line-height 28px
			padding 15px 50px 0 0
		li
			font-size 18px
			margin-top 50px